<h1>Résumé de la journée du <a href="?date={{previous_date}}"><</a> {{current_date}} <a href="?date={{next_date}}">&gt;</a></h1>
  <table>
    <tbody>
      <tr>
        <th>Recettes</th>
        <td class="number">{{ "%.2f"|format(summary.total / 100) }} €</td>
      </tr>
      <tr>
        <th>Nombre de commandes</th>
        <td class="number">{{ summary.n_orders }}</td>
      </tr>
      <tr>
        <th>Nombre de crêpes</th>
        <td class="number">{{ summary.n_items }}</td>
      </tr>
    </tbody>
  </table>

  <h2>Par catégorie</h2>
  <table>
    <thead>
      <tr><th>Catégorie</th><th>Quantité</th></tr>
    </thead>
    <tbody>
      {% for name, c in summary.count_per_category.items() %}
      <tr>
        <td>{{ name }}</td>
        <td class="number">{{ c }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2>Par article</h2>
  <table>
    <thead>
      <tr><th>Article</th><th>Quantité</th></tr>
    </thead>
    <tbody>
      {% for name, c in summary.count_per_item.items() %}
      <tr>
        <td>{{ name }}</td>
        <td class="number">{{ c }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
